/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: local("PT Sans Bold"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/

:root {
--main-text: #000000;
--add-text: #333333;
--welcome-text: #81B3D3;
--basic-neutral: #EEEEEE;
--basic-light: #FFFFFF;
--add-decor: #766458;
--standard-blue: #81B3D2;
--hover-blue: #669EC0;
--active-blue: #5496BD;
--standard-brown: #766357;
--hover-brown: #604E43;
--active-brown: #503E33;
--hover-input: #EBEBEB;
--add-dark: #231F20;
--add-button: #F2F2F2;
--blocked-color: #6A6A6A;
}

/*Global*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--main-text);
  text-transform: uppercase;
  background-color: var(--basic-light);
  text-align: center;

  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.invisible {
  display: none;
}

/* Main navigation */

.main-header{
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.main-navigation {
  /*display: grid;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-navigation{
  display: flex;
  justify-content: space-between;
}

.site-navigation li{
  padding: 15px 0px;
}


.main-logo{
  width: 138px;
  height: 70px;
  outline: 5px solid rgba(217, 255, 0, 0.3);
  outline-offset: -5px;
}
.main-header-bar {
  background-color: var(--basic-light);
}

/*.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

}*/

.site-navigation{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(146, 9, 112, 0.3);
  outline-offset: -5px;
}

.site-navigation a{
  text-decoration: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--main-text);
}

.site-navigation a:hover {
  color: var(--standard-blue);
}

.site-navigation a:focus {
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--standard-brown);
  opacity: 0.3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.main-logo {
  justify-self: center;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 1px;
  text-align: center;
}

/*Index page*/
.greeting {
  background: url(../img/background_photo.jpg) no-repeat center top;
}

.about-city{
  font-size: 21px;
  line-height: 26px;
}

.reasons {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

/*Features*/

.features {
  margin-bottom: 80px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-illustrated {
  background-color: var(--standard-blue);
}
.feature-illustrated-1 {
  grid-column: 1 / 2;
}

.feature-pic-1{
  grid-column: 2 / -1;
}
.feature-pic-2{
  grid-column: 1 / 3;
}

.feature-text{
  color: var(--basic-light);
}

.feature-desc {
  font-size: 14px;
  font-weight: 400;
}

.feature-add{
  background-color: var(--basic-neutral);
}

/*Booking*/

.selection-text{
font-size: 30px;
line-height: 24px;
}

.selection-desc{
font-size: 14px;
font-weight: 400;
width: 435px;
height: 95px;
text-align: center;
margin-top: 4px;
margin-bottom: 24px;
justify-content: center;
}

.button {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-light);
  background-color: var(--standard-brown);
  border: none;
  padding: 30px 124px 30px 125px;
}

.button:hover,
.button:focus{
  background-color: var(--hover-brown);
}

.button:active {
  background-color: var(--active-brown);
  opacity: 0.3;
}

/*Catalog*/

.page-catalog{
  min-width: 1200px;
  color: var(--main-text);
  text-align: center;
}

/*.main-navigation{
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--main-text);
}*/
.filters{
  grid-column: 1 / -1;
  display: grid;
  background-image: url("../img/background.jpg");
  background-position: center, top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5(1fr);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}
.filters{
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/*Filters*/


.filter legend {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-light);
  margin-bottom: 24px;
}

.filter ul {
  list-style: none;
}

.filter-option{
  margin-bottom: 25px;
}

.filter-input-checkbox + label{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-light);
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-light);
}

.filter-input-checkbox:disabled{
  color: var(--blocked-color);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  border: none;
}

/*Sorting*/

.sorting-container{
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  display: flex;
}

.sorting-result{
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting-list{
  list-style: none;
}

.sorting{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--main-text);
}

.sorting-item{
  opacity: 0.3;
  text-decoration-style: dotted;
}

.sorting-item:hover{
  color: var(--standard-blue);
}
.sorting-item:active{
  color: var(--main-text);
}

/*Results*/

.selection-result{
  outline: 5px solid rgba(255, 153, 0, 0.7);
  outline-offset: -5px;
}

.results-item{
  outline: 5px solid rgba(174, 0, 255, 0.562);
  outline-offset: -5px;
}
.result-info{
  display: flex;
}
.result-header{
margin-top: 23px;
margin-bottom: 7px;
font-weight: 700;
font-size: 21px;
line-height: 26px;
color: var(--main-text);
}
.results img{
  width: 135px;
  height: 90px;
}

.result-desc,
.price{
  font-size: 14px;
  line-height: 21px;
  color: var(--add-text);
}

.results-list{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-booking{
  font-size: 14px;
  line-height: 21px;
}

.button-desc{
  font-size: 14px;
  line-height: 21px;
  background-color: var(--standard-blue);
  color:var(--basic-light);
  margin-right: 6px;
}
.button-booking,
.button-desc{
  padding: 3px 16px 3px 17px;
}

.rating{
  font-size: 14px;
  line-height: 21px;
  background-color: var(--add-button);
  color: #666;
}


/* Contacts */

.contacts-phone,
.instagram-tag {
  color: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/*Footer*/
.main-footer{
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  padding: 0 1px;
  text-align: center;
  opacity: 0.9;
  color: var(--main-text);
  outline: 5px solid rgba(0, 255, 13, 0.562);
  outline-offset: -5px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
  justify-self: center;
  display: flex;
  flex-direction: column;
  outline: 5px solid rgba(255, 187, 0, 0.562);
  outline-offset: -5px;

}

.footer-social {
  width: 400px;
  justify-self: center;
  text-align: center;
  outline: 5px solid rgba(174, 0, 255, 0.562);
  outline-offset: -5px;
}

.social-list{
  list-style: none;
  color: var(--main-text);
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 43px;
  background-color: var(--standard-blue);
  margin: 6px;
}

.social-icon-background:hover{
  fill: var(--hover-blue);
}
.social-icon-background:active{
  fill: var(--active-blue);
}

.social-sign:active{
  opacity: 0.3;
}

.footer-copyright{
  margin: 0;
  justify-self: center;
  text-align: center;
  outline: 5px solid rgba(0, 17, 255, 0.562);
  outline-offset: -5px;
}

.copyright-text{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.copyright-logo:hover {
  fill: var(--standard-blue);
}
.copyright-logo:active {
  fill: #BDBBBC;
}

/* Grid */

.page {
  height: 100%;
}
